APP_NAME=Dynamic Gesture Recognition System
APP_CORS_ORIGINS=http://localhost:5173,http://127.0.0.1:5173
MMACTION_CONFIG=assets/models/trained-jester-tsm-r50/tsm_r50_jester_video_infer.py
MMACTION_CHECKPOINT=assets/models/trained-jester-tsm-r50/best_acc_top1_epoch_8.pth
MMACTION_DEVICE=cpu
